@import "tailwindcss";

@theme {
  --color-bg: #fdfcfa;
  --color-ink: #171613;
  --color-ink-soft: #86807a;
  --color-line: #e5e2dc;

  --font-display: var(--font-cormorant);
  --font-body: var(--font-inter);
}

body {
  background-color: var(--color-bg);
  color: var(--color-ink);
}

* {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-ink);
  color: var(--color-bg);
}